table {
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px #000 solid;
}

table {
    width: 80%;
    margin-bottom: 10rem;

    position: relative;
    top: 5vw;
    left: 50%;
    transform: translate(-50%);
}

td {
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}